.title .soft-shares {
    color: transparent;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0;
  }
  .title .black {
    color: #000000;
  }
  .title .blue {
    color: #00c1ff;
  }
  .welcome-please {
    color: var(--gray-600);
    font-family: "Roboto-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
  }
  .person-circle {
    width: 70px;
  }
  input {
    margin-top: 10px !important;
  }
  .link {
    color: var(--componentsalertprimarylink);
  }
  .login {
    background-color: var(--variable-collection-softinsa-main) !important;
    border-radius: 17px !important;
    height: 38px;
    width: 295px;
  }
  .SSOLogin {
    background-color: white !important;
    border-radius: 17px !important;
    height: 38px;
    width: 320px;
    border: 1px solid var(--softinsa_main, #00c2ff) !important;
    margin-top: 20px;
  }
  .or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }
  .or-line {
    height: 1px;
    width: 116px !important;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid var(--softinsa_main, #00c2ff);
    background: var(--Theme-Dark, #212529);
  }
  .or-text {
    margin: 0 10px;
    font-weight: bold;
    color: #666;
  }
  .SSO {
    padding-left: 20px; 
    
  }
  
  .vertical-blue-bar{
    background-color: #00c1ff;
    width: 5px;
    height: 50px !important;
  
  }
  
  ul{
    list-style-type: none;
  }
  
  
  .policy-terms{
    margin-top: 20px;
  }
  

  .borda{
    border: 3px solid var(--themeprimary) !important;
    border-radius: 17px;
    padding: 10px;
    margin-top: 20px;
  }

  .terms-container {
    display: inline-flex;
    align-items: center;
  }
  
  .terms-checkbox {
    margin-right: 0.5rem;
  }

  .bold{
    font-weight: bold;
  }